name: Verify

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17
      - name: Build
        run: ./gradlew build -x test
      - name: Test
        run: ./gradlew test

  javadocs:
    runs-on: ubuntu-latest
    name: Javadocs


    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17
      - name: Build
        uses: nick-fields/retry@v3
        with:
         timeout_minutes: 10
         max_attempts: 5
         command: ./gradlew javadoc
